body {
    background-color: rgb(45, 45, 255);
    font-family: 'Comic Neue', cursive;
}

nav {
    background-color: rgb(45, 45, 255);
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

ul {
    list-style-type: none;
}

a.btn {
    color: black;
    width: 170px;
}

p {
    color: white;
}

.welkom {
    font-family: 'Comic Neue', cursive;
    font-size: 70px;
    color: white;
    display: flex;
    justify-content: center;
}

.playbox {
    color: white;
    font-family: 'Comic Neue', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 210px;
    font-size: 40px;
}

.play {
    background-color: black;
    width: 80px;
    height: 80px;
    padding-left: 40px;
    padding-top: 25px;
    border-radius: 3px;
}

.playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 25px solid transparent;
    border-left: 50px solid white;
    border-bottom: 25px solid transparent;
}

.formgroup {
    color: white;
}

.formcontrol {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 1px black solid;
}

.btn {
    background-color: white;
    display: flex;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px black solid;
}

.container {
    text-decoration: none;
    display: flex;
}

.nav-item li {
    display: flex;
    margin-left: -40px;
    flex-direction: row;
    width: 100px;
}