body {
    background-color: blue;
    font-family: 'Comic Neue', cursive;
}

h2 {
    color: white;
}

a {
    text-decoration: underline;
    color: white;
}

a:hover {
    color: black;
}

p {
    color: white;
}

.welkom {
    font-family: 'Comic Neue', cursive;
    font-size: 70px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.playbox {
    color: white;
    font-family: 'Comic Neue', cursive;
    position: relative;
    left: 50%;
    top: 45%;
}

.playbutton {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid white;
    border-bottom: 25px solid transparent;
}

.formgroup {
    color: white;
}

.formcontrol {
    display: flex;
    justify-content: center;
}